.container {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    /* Flexbox the elements that is going to be deleted */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
