.leaderboard {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
    background-color: rgba(204, 204, 204, 0.3);
    border-radius: 2px;
}

.leaderboard h2 {
    margin-bottom: 1rem;
    font-weight: 900;
    text-align: center;
}

.leaderboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.leaderboard li {
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

.leaderboard li span:nth-child(1) {
    margin-right: 0.3rem;
}

.leaderboard li span:nth-child(2) {
    flex-grow: 1;
}

.leaderboard li span:nth-child(3) {
    margin-left: 0.5rem;
}
